@import "tailwindcss";

@theme {
  --color-terracotta: #C04D29;
  --color-terracotta-dark: #A03D1F;
  --color-primary: var(--color-terracotta);

  --color-background-light: #f8f7f6;
  --color-background-dark: #1b130d;
  --color-surface-dark: #2a1f17;

  --color-border-light: #e7d9cf;
  --color-border-dark: #3e3228;

  --color-text-main: #1b130d;
  --color-text-secondary: #9a6c4c;

  --color-accent: #fcfaf8;
  --color-accent-dark: #342a22;

  --font-display: "Plus Jakarta Sans", sans-serif;

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

@variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  font-family: var(--font-display);
  background-color: var(--color-background-light);
  color: var(--color-text-main);
}

.dark body {
  background-color: var(--color-background-dark);
  color: #f3ece7;
}



.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 24;
}

.icon-filled {
  font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 24;
}